<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>todos-vue3</title>
</head>

<body>
  <div id="app">
    <a href="https://ip.sb/">
      <h1>{{ message }}</h1>
    </a>
    <input type="checkbox" class="alltoggle"></input>
    <input type="text" v-model="input" placeholder="What needs to be done?" @keydown.enter='addtodo()'>
    <ul class="todolist">
      <li v-for="(item, index) in this.todos">
        <input type="checkbox" class="toggle"></input>
        <label for="">{{ item.title }}</label>
        <button @click="deleteTodo(index)">&times;</button>
      </li>
    </ul>
    <span class="todocount"></span>
    <ul>
      <li>All</li>
      <li>Active</li>
      <li>Completed</li>
    </ul>
    <button class="clearcompleted">Clear completed</button>
  </div>
  <script type="module">
    import { createApp } from 'https://unpkg.com/vue@3/dist/vue.esm-browser.js'
    createApp({
      data() {
        return {
          message: 'todos',
          input: '',
          todos: [],
        }
      },
      methods: {
        addtodo() {
          //空字符串''在条件判断中会被当成false,所以要取反
          if (!this.input.trim()) return
          //this.todos.push(this.input)这个push的带有空格，是原始字符串
          let todo = {
            title: this.input.trim(),
            completed: false,
          }
          this.todos.push(todo)
          this.input = ''
          console.log(this.todos)
        },
        deleteTodo(index) {
          //this.todos = this.todos.filter((item, i) => i !== index)
          this.todos.splice(index, 1)
        }
      },
      computed: {

      }
    }).mount('#app')
  </script>
</body>

</html>